[Unit]
Description=SimpleNeutron
Requires=network-online.target
After=rc-local.service

[Service]
Type=simple
Restart=always
User=root
ExecStartPre=/bin/sleep 10
ExecStart=/path/to/app/simpleneutron
KillSignal=SIGINT

[Install]
WantedBy=basic.target
